.infocard {
    padding: 1.2rem 0.9rem;
    background-color: white;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    width: 22%;
    min-width: 236px;
    justify-content: space-between;

    p:first-child {
        color: #787C90;
        font-size: 0.8rem;
    }

    p:last-child {
        color: #262626;
        font-size: 1.4rem;
    }
}