.payments {
    margin: 2rem 0;
    max-width: 1200px;
    min-width: 570px;

    h2 {
        font-size: 2.5rem;
        font-weight: normal;
    }

    .payment_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem;
        padding-right: 4rem;

        .right {
            display: flex;
            align-items: center;


        }

        .search {
            margin-left: 2rem;
            display: flex;
            align-items: center;
            padding: 0.6rem;
            padding-right: 8rem;
            gap: 1rem;
            border-bottom: 2px solid #787878;

            .search_icon {
                cursor: pointer;
            }

            .search_icon:hover {
                color: #1860EC;
            }

            input {
                font-size: 0.9rem;
            }
        }

        .left {
            display: flex;
            gap: 1rem;
            align-items: center;
            position: relative;

            .selections {
                position: absolute;
                right: 0;
                bottom: -10.8rem;
                list-style: none;
                background-color: white;
                border-radius: 8px;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);

                li {
                    width: 10rem;
                    padding: 0.5rem;
                    padding-left: 1rem;
                    font-size: 0.9rem;
                    color: #414042;
                    cursor: pointer;
                }

                li:hover {
                    background-color: #F4F4F4;
                }
            }

            .select {
                display: flex;
                align-items: center;
                width: 10rem;
                justify-content: space-between;
                color: #414042;
                font-size: 0.8rem;
                cursor: pointer;
                padding: 0.4rem 0.6rem;
                border: 1px solid #CED0DA;
                border-radius: 2px;
            }
        }
    }

    .payment_table {
        margin-top: 2rem;

        .header,
        .payment_row {
            padding: 1.2rem 2rem;
            display: grid;
            align-items: center;
            grid-template-columns: 8fr 3fr 3fr 2fr 3fr;
        }

        .header {
            background-color: #EAEEF0;
            color: #7F8FA4;
            font-size: 0.9rem;
        }

        .payment_row {
            border-bottom: 1px solid #CCCFD4;
            color: #7F8FA4;
            font-size: 0.9rem;

            .type {
                display: flex;
                align-items: center;
                gap: 1rem;
                color: #414042;

                .tag {
                    padding: 0.6rem;
                    border-radius: 4rem;
                    background-color: #7F8FA4;
                    color: white;
                    font-size: 1rem;
                }
            }

            .status {
                display: flex;
                align-items: center;
                gap: 0.6rem;
                width: 100%;
                min-width: 140px;

                .dot {
                    width: 10px;
                    height: 10px;
                    border-radius: 1rem;
                }





                // width: max-content;
                border: 1px solid #CCCFD4;
                border-radius: 30px;
                padding: 0.6rem;
            }

            .reconciled {
                color: #27AE60;

                .dot {
                    background-color: #27AE60;
                }
            }

            .pending {
                color: #EBC315;

                .dot {
                    background-color: #EBC315;
                }
            }

            .un-reconciled {
                color: #7F8FA4;

                .dot {
                    background-color: #7F8FA4;
                }
            }
        }
    }

    @media (max-width:770px) {


        .payment_table {


            .header,
            .payment_row {
                padding: 0.5rem;
                font-size: 0.8rem;
                grid-template-columns: 6fr 2fr 2fr 2fr 2fr;
            }



            .payment_row {

                font-size: 0.8rem;

                .type {
                    gap: 0.6rem;

                    .tag {
                        padding: 0.3rem;

                        font-size: 0.8rem;
                    }
                }

                .status {
                    gap: 0.6rem;

                    .dot {
                        width: 6px;
                        height: 6px;
                    }

                    border-radius: 30px;
                    padding: 0.4rem;
                }
            }
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        font-size: 0.9rem;
        padding: 1rem;
        align-items: center;

        .pagination {
            display: flex;
        }

        .page {
            padding: 0.6rem 0.8rem;
            border: 1px solid #CED0DA;
            color: #979797;
            cursor: pointer;
        }

        .active {
            background-color: #1875F0;
            color: white;
        }

        .next,
        .prev {
            padding: 0.4rem 0.6rem;
            border: 1px solid #CED0DA;
            cursor: pointer;

        }
    }

}

@media (max-width:570px) {
    .payment_table {
        width: 100vw;

        overflow-x: scroll;
    }
}